.dockerignore
docker-compose.yml
docker/Dockerfile-gpu
docker/compose-gpu.yml
docker.env
.gitignore
mypy.ini

/examples/
/tests/

__pycache__/
/.git/
/.idea/
/.mypy_cache/

# --- local ---
.env
/.venv/
/.res/
/_assets/
/local/
