LOGGING_SERVER_HOST=
LOGGING_SERVER_PORT=

PIPELINE_SERVER_HOST=
PIPELINE_SERVER_PORT=

DASHBOARD_HOST=
DASHBOARD_PORT=
MAIN_DASHBOARD_RENDERING_MAX_THREADS=1

MULTIPROCESSING_START_METHOD=forkserver

ASSETS_DIR=/app/assets

LOGGING_LEVEL=debug

PIPELINE_CONFIG=config/pipeline/artefacts_streaming.yaml
DASHBOARD_CONFIG=config/dashboard/dashboard.yaml
LIVE_STATE_RENDERER_CONFIG=config/dashboard/live_state_renderer.yaml
