{% from "vehicles/components/zones/wrappers/zone/zone.html" import render_zone %}

{#
    data: TrackWithPlatformsInfoForVehicle
    ref_ts: datetime
#}
{% macro render_tram_track_with_platforms(data, config, ref_ts) %}
<div class="vehicle-zone-group-wrapper">
    {{ render_zone("Track", data.track, config, ref_ts) }}
    <div>

        {% if data.platforms | length > 0 %}
            <h4 class="vehicle-tram-platforms-for-track-header-span">
                Platforms on this track:
            </h4>
        {% endif %}

        {% for platform in data.platforms %}
            {{ render_zone("Platform", platform, config, ref_ts) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}